.heading2
{
	font-family: lato-n7, sans-serif;
}

.bodytext
{
	font-family: open-sans-n4, sans-serif;
}

.heading1,.quote-text
{
	font-family: lato-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

#u235-4,#u240-4,#u243-4,#u244-4,#u245-4
{
	font-family: muli-n4, sans-serif;
}

#u252-4,#u863-8,#u254-4,#u864-8,#u255-4,#u259-4,#u891-4
{
	font-family: open-sans-n4, sans-serif;
}

#u896-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu888_input,#widgetu888_prompt,#widgetu893_input,#widgetu893_prompt
{
	font-family: open-sans, sans-serif;
}

#u905-4
{
	font-family: open-sans-n4, sans-serif;
}

