.heading2
{
	font-family: lato-n7, sans-serif;
}

.bodytext
{
	font-family: open-sans-n4, sans-serif;
}

.heading1,.quote-text
{
	font-family: lato-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

#u235-4,#u240-4,#u243-4,#u244-4,#u245-4
{
	font-family: muli-n4, sans-serif;
}

#u252-4,#u863-8,#u254-4,#u864-8,#u255-4,#u259-4,#u891-4
{
	font-family: open-sans-n4, sans-serif;
}

#u896-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu888_input,#widgetu888_prompt,#widgetu893_input,#widgetu893_prompt
{
	font-family: open-sans, sans-serif;
}

#u905-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2891-4
{
	font-family: lato-n4, sans-serif;
}

#u2893-4
{
	font-family: lato-n4, sans-serif;
}

#u2885-4
{
	font-family: lato-n4, sans-serif;
}

#u2886-4
{
	font-family: lato-n4, sans-serif;
}

#u2881-4
{
	font-family: lato-n4, sans-serif;
}

#u2882-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu2889_input,#widgetu2889_prompt,#widgetu2884_input,#widgetu2884_prompt,#widgetu2879_input,#widgetu2879_prompt
{
	font-family: lato, sans-serif;
}

#u2906-18
{
	font-family: open-sans-n4, sans-serif;
}

#u2871-4,#u2872-4,#u2874-4,#u2919-4
{
	font-family: lato-n3, sans-serif;
}

#u4147-6,#u4155-6,#u4151-6,#u4156-6,#u4246-6,#u4242-6,#u4263-6,#u4265-6
{
	font-family: lato-n4, sans-serif;
}

#u4100-4
{
	font-family: lato-n7, sans-serif;
}

